// fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@font-face {
	font-family: 'Aurulent Sans';
	src: url('../font/aurulentsans/aurulentsans-regular-webfont.eot');
	src: url('../font/aurulentsans/aurulentsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/aurulentsans/aurulentsans-regular-webfont.woff') format('woff'),
		 url('../font/aurulentsans/aurulentsans-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Aurulent Sans';
	src: url('../font/aurulentsans/aurulentsans-italic-webfont.eot');
	src: url('../font/aurulentsans/aurulentsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/aurulentsans/aurulentsans-italic-webfont.woff') format('woff'),
		 url('../font/aurulentsans/aurulentsans-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;

}
@font-face {
	font-family: 'Aurulent Sans';
	src: url('../font/aurulentsans/aurulentsans-bold-webfont.eot');
	src: url('../font/aurulentsans/aurulentsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/aurulentsans/aurulentsans-bold-webfont.woff') format('woff'),
		 url('../font/aurulentsans/aurulentsans-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;

}
@font-face {
	font-family: 'Aurulent Sans';
	src: url('../font/aurulentsans/aurulentsans-bolditalic-webfont.eot');
	src: url('../font/aurulentsans/aurulentsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/aurulentsans/aurulentsans-bolditalic-webfont.woff') format('woff'),
		 url('../font/aurulentsans/aurulentsans-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;

}

.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Aurulent Sans',sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bbc: #3a2e2c; // body background color
@bb: @bbc url(../images/bg/01.jpg) fixed top; // body background

// colors
@cp: #fff; // color primary
@cl: #ff004f; // color link
@cs: #97856f; // color specific

// font sizes
@fsp: 13px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 18px; // font size h3
@fsh4: 16px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.1; // line height header
@lhp: 1.3; // line height primary

// layout
@content-width: 780px;
@content-padding: 0 20px;