#page{
	position: relative;
	min-width: @content-width+40;
	min-height: 100%;
	&.inverted{
		color: @cs;
		background: #fff url(../images/bg/01_i.jpg) fixed top;
	}
}
#page-header{
	padding: 93px 0 15px;
	.logo{
		text-align: center;
		margin: 0 0 37px;
		a{
			display: block;
			margin: auto;
			width: 300px;
			height: 70px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.slogan{
		margin: 0 220px;
		color: @cs;
		line-height: @lhh;
		text-align: center;
	}
}
#col-main{
	float: right;
	width: 560px;
}
#col-center{
	float: left;
	width: 340px;
}
#col-right{
	float: right;
	width: 200px;
}
#col-left{
	float: left;
	width: 200px;
}
#content{
	margin: 0 0 30px;
}
#page-footer{
	padding: 8px 0;
	.xart{
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
		img{
			margin: 0 0 5px;
		}
		a{
			color: @cs;
			text-decoration: none;
			&:hover{
				color: @cl;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}