.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			padding-left: 20px;
			margin-right: 10px;
			white-space: nowrap;
			font-size: 90%;
			&:before{
				content: '\00BB';
				top: -2px;
			}
		}
	}
}
.mod_custom-intro{
	margin: 0 0 30px;
}
.mod_custom-contact{
	padding: 9px 0;
	color: @cl;
	address{
		font-style: normal;
		padding: 0 0 0 117px;
		margin: 0 0 17px;
		min-height: 50px;
		line-height: 1.4;
		background: url(../images/icon/01.png) no-repeat 46px 0;
	}
	.contact{
		padding: 0 0 0 117px;
		margin: 0 0 17px;
		min-height: 50px;
		line-height: 1;
		background: url(../images/icon/02.png) no-repeat 46px 0;
		mark{
			.fh;
			font-size: 26px;
			letter-spacing: -0.02em;
			color: @cl;
		}
	}
}
.mod_menu-right,.mod_menu-left{
	.clearfix;
	ul{
		.rul;
		float: left;
		margin: -34px 0 0;
		li{
			.rli;
			margin: 0 0 34px;
			a{
				.border-radius(65px);
				.fh;
				.transition(0.3s);
				position: relative;
				left: 0;
				right: 0;
				display: block;
				text-align: center;
				width: 100px;
				height: 130px;
				padding: 0 15px;
				line-height: 130px;
				text-decoration: none;
				color: #fff;
				font-size: 17px;
				background: #8f8576;
				text-transform: lowercase;
				&:before{
					.transition(0.6s);
					position: absolute;
					content: '';
					top: -32px;
					left: -45px;
					width: 200px;
					height: 200px;
					background: url(../images/bg/02.png) no-repeat center;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
				}
				&:hover{
					background: @cl;
					&:before{
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
						.rotate(360deg);
					}
				}
				span{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					height: 130px;
					width: 100px;
					line-height: 1.3;
				}
				mark{
					font-size: 23px;
				}
			}
		}
	}
	&.fixed{
		position: fixed;
		left: -40px;
		top: 20%;
		ul{
			li{
				a{
					&:hover{
						left: 70px;
					}
				}
			}
		}
	}
}
.mod_menu-right{
	ul{
		float: right;
	}
	&.fixed{
		left: auto;
		right: -40px;
		ul{
			li{
				a{
					&:hover{
						left: auto;
						right: 70px;
					}
				}
			}
		}
	}
}
.mod_menu-footer{
	text-align: center;
	margin: 0 0 50px;
	ul{
		.rul;
		li{
			.rli;
			.fh;
			display: inline-block;
			font-size: 23px;
			margin: 0 25px;
			padding: 0 0 5px;
			&.act{
				&:before{
					top: 100%;
					left: 50%;
					width: 160px;
					height: 35px;
					margin: 0 0 0 -80px;
					background: url(../images/bg/07.png) no-repeat;
				}
				&.type_01{
					&:before{
						background-image: url(../images/bg/03.png);
					}
				}
				&.type_02{
					&:before{
						background-image: url(../images/bg/04.png);
					}
				}
				&.type_03{
					&:before{
						background-image: url(../images/bg/05.png);
					}
				}
				&.type_04{
					&:before{
						background-image: url(../images/bg/06.png);
					}
				}
				&.type_05{
					&:before{
						background-image: url(../images/bg/07.png);
					}
				}
				a{
					color: @cl;
				}
			}
			a{
				color: @cs;
				text-decoration: none;
				&:hover{
					color: @cl;
				}
			}
		}
	}
}
.mod_custom-reference{
	margin: -12px 0 33px;
	figure{
		margin: 0 0 15px;
		img{
			.border-radius(25px);
		}
	}
	.content{
		text-align: center;
		font-size: 14px;
		mark{
			color: @cl;
		}
	}
}